# Python
__pycache__/
*.egg-info/
build/
dist/

# Virtual environment
.venv/

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Editor
.vscode/

# Local config & data
planar-bridge.toml
